<div class="title">
  <h2>ユーザー 一覧</h2>
</div>

<% @users.each do |user| %>
<div class="card">
  <h4 class="card-header">
    <div class="sample_image">
      <img src= <%= user_iamge(user)%> class="icon_image">
    </div>
    <%= link_to user.username, area_show_path(user) %>
  </h4>
</div>
<% end %>