// クラスにBootstrapで使用されているクラス名を使用した部分にスタイルが適用される
// @import "bootstrap-sprockets";
@import "bootstrap";

// ログイン画面
.user_new {
    margin-top: 20px;
}

body {
    padding-bottom: 100px;
}

// 余白なし
.container-fluid {
    margin-right: 10;
    margin-left: 10;
    padding-top: 50px;
}

// 上部ボタン
.btn-top {
    margin-bottom: 60px;
    .btn-lg {
        background: lightgray;
        color: white;
    }
    .now_btn {
        float: right;

    }
}

// タイトル
h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 120px;
    font-size: 8px;
}

// 6ヶ月テリ、ワケテリ
.month {
    clear: both;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

ul {
    padding: 0;
}

// 区名町名
.city {
    border-top: solid 3px #eee;
    list-style: none;
    font-size: 25px;
    height: 80px;
}

li:last-child {
    border-bottom: solid 3px #eee;
}

time {
    font-size: 15px;
    color: gray;
}

// 詳細リンク
.fa-edit {
    float: right;
}
// 下線を消す
a {
    text-decoration:none !important;
}  


// 手放すリンク
.fa-car-side {
    float: left;
    clear: both;
    font-size: 18px;
}

// テリが未登録なら
 .message {
    clear: both;
    text-align: center;
    margin-top: 800px;
    h3 {
        font-size: 30px;
    }
 }

  
.sample_image {
    max-width: 100%;
    border-radius: 100%;
    width: 100px;
    margin-bottom: 20px;
    clear: both;
    float: left;
}

// 検索
.form-control-sm  {
    margin-top: 50px;
    margin-bottom: 60px;
}

.btn-warning {
    margin-bottom: 60px;
    margin-top: 50px;
}

.search_boder {
    border-top: solid 3px #eee;
    list-style: none;
    padding: 20px 10px 20px 10px;
    font-size: 20px;
    li:last-child {
        border-bottom: solid 3px #eee;
    }
}

// 訪問履歴の登録
.visit_save {
    font-size: 25px;
    text-decoration: none;
    margin: 0;
    width: 300px;
    text-align: left;
    margin-bottom: 20px;
}
.vusit {
    font-size: 20px;
}

// テリ登録
.field {
    margin-top: 20px;
    padding-left: 15px;
}

.status {
    margin-top: 20px;
    padding-left: 15px;
}

.container {
    margin-top: 20px;
}

// アイコン
.icon_image {
    max-width: 100%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.title {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
} 

// テリ登録
.send {
    margin-left: 150px;
}


h5 {
    text-align: center;
    font-size: 40px;
}

.icon {
    text-align: center;
    color: #528fff;
}

// ユーザー一覧
.card {
    margin-top: 30px;
}

// footer
.footer_text {
    font-size: 8px;
}

/* アラート */
.alert {
    
  display: contents;
  // もしくは diplay: inline;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  height: 30px;
  text-align: center;
  z-index: 1000;
  line-height: 10px;
  &-success, &-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  &-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}