<div class="btn-top">
  <%= link_to "#" do %>
    <button type="button" class="btn-lg">過去の<br>テリ一覧</button>
  <% end %>
  <%= link_to "#" do %>
    <button type="button" class="btn-lg now_btn">現在の<br>テリ一覧</button>
  <% end %>
</div>