<div class="btn-top btn-lg">
  <%= link_to visits_path do %>
    <button type="button" class="btn btn-sm">過去の<br>テリ一覧</button>
  <% end %>
  <%= link_to root_path do %>
    <button type="button" class="btn now_btn btn-sm">現在の<br>テリ一覧</button>
  <% end %>
</div>